<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master_head.ejs %>
</head><!--/head-->
<body>
<%include ./menu.ejs %>
    <section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/sample/Banner03.jpg)">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/sample/Banner06.jpg)">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Powerful and Responsive Web Design Theme</h2>
                                    <p class="animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                    <a class="btn btn-md animation animated-item-3" href="#">Learn More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered">
                                    <div class="embed-container">
                                        <iframe src="//player.vimeo.com/video/69421653?title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-md"><img class="icon-md" src="images/ico/new.ico"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">最新消息</h3>
                            <a href="#"><p class="index-new">
                                台積電(2330)近年大舉增加資本支出提升製程，也連帶拉抬台灣本土半導體供應鏈；台積公司製造技術副總經理林錦坤表示，台灣半導體設備本土化發展已有不錯進展，目前本土零件與材料比重已達7成水準。林錦坤說，半導體設備本土化發展，本土零件與材料比重已從過去的30%至40%，攀高到目前的70%；後段設備方面，本土化比重約30%至40%。台積電與台廠合作夥伴組成的大同盟（Grand Alliance），隨著台積電持續提升製程，擴大資本支出，也讓相關台廠受惠。包括光罩及晶圓傳送盒廠家登(3680)、再生晶圓廠辛耘(3583)、材料及可靠性檢測廠閎康等都被列為台積電概念股。林錦坤表示，半導體業是技術與資本密集的產業，1座晶圓廠投資動輒新台幣數千億元，設備投資占大宗；機器設備效能攸關競爭力，機器設備價值發揮極大化，將使投資效益極大化。台積電與國立交通大學今日共同舉辦的「第一屆台積設備創意競賽」，今天在交大進行決賽。這次舉辦競賽，主要希望透過產學合作，發掘與培育半導體設備人才，一方面讓學生提早知道產業界需求，讓所學能與產業界連結，並吸引更多學生投入半導體業。
                            </p></a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-md"><img class="icon-md" src="images/ico/new.ico"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">最新消息</h3>
                            <a href="#"><p class="index-new">世大運開閉幕8月登場，但國民黨市議員徐弘庭昨質詢指，根據開閉幕合約，演出總彩排時文化局即撥款97％費用，約3.5億元，顯違常理、質疑涉嫌圖利，要求北市府徹查。台北市長柯文哲今出席活動後受訪時說，突然問他不知道合不合理，但確信一定合法。</p>
                        </div></a>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-md"><img class="icon-md" src="images/ico/new.ico"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">最新消息</h3>
                            <a href="#"><p class="index-new">伊朗今天舉行的總統大選，結果現任總統羅哈尼(Hassan Rouhani)再度當選，顯示伊朗人民期望在國內獲得更多自由，並結束該國在國際間的孤立，這個結果也打擊了伊朗的保守派勢力。路透社(Reuters)報導，在開票將近全部完成之際，羅哈尼已確定獲得58.6%的票數，而他的對手、法官萊希(Ebrahim Raisi)只獲得39.8%的票數。雖然羅哈尼的權力仍然受限，比不上伊朗最高領袖哈米尼(Ayatollah Ali Khamenei)，但羅哈尼的連任給改革派帶來一劑強心劑。萊希是哈米尼的得意門生，被當地媒體視為有可能接班這位最高領袖的人。對伊朗強大、掌控大多工業的革命衛隊(Revolutionary Guards)來說，這個選舉結果也是一大挫敗，因為該隊表態支持萊希，期望藉此保衛其利益。羅哈尼連任也表示，伊朗會繼續維持2015年和國際社會簽署的核武協議，當時伊朗以減少其核武發展來交換解除國際制裁。但他仍舊面臨和第一任期同樣的困難，若不解決就無法進行他所希望的大幅社會改革。伊朗的最高領袖有權擋下任何政策，並且控制革命衛隊，羅哈尼因此無法解除改革派領袖的軟禁，媒體也被禁止報導改革派前總統哈塔米(Mohammad Khatami)。在此同時美國總統川普(Donald Trump)今天進行上任後首次外訪，將拜訪中東和歐洲五個國家，川普已經抵達第一站沙烏地阿拉伯，該國是伊朗在中東地區最大的敵手，也不認同伊朗的核武協議。雖然伊朗獲得解除制裁，但是經濟效益仍相當有限，因為美國就伊朗有多項違反人權和發生恐怖主義的紀錄而維持部分制裁，過去這些紀錄使得外國公司不敢投資到伊朗。</p>
                        </div></a>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>服務項目</h3>
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action">1指研磨</a>
                      <a href="#" class="list-group-item list-group-item-action list-group-item-success">2指研磨</a>
                      <a href="#" class="list-group-item list-group-item-action list-group-item-info">3指研磨</a>
                      <a href="#" class="list-group-item list-group-item-action list-group-item-warning">4指研磨</a>
                      <a href="#" class="list-group-item list-group-item-action list-group-item-danger">5指研磨</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>熱門產品</h3>
                    <ul class="list-group">
                      <li class="list-group-item justify-content-between">
                        <a href="#" class="list-group-item list-group-item-action">1吋寬螺絲<span class="badge badge-default badge-pill">10</span></a>
                      </li>
                      <li class="list-group-item justify-content-between">
                        <a href="#" class="list-group-item list-group-item-action">2吋寬鐵棒<span class="badge badge-default badge-pill">8</span></a>
                      </li>
                     <li class="list-group-item justify-content-between">
                        <a href="#" class="list-group-item list-group-item-action">3吋寬軸承<span class="badge badge-default badge-pill">6</span></a>
                      </li>
                      <li class="list-group-item justify-content-between">
                        <a href="#" class="list-group-item list-group-item-action">4吋寬鐵柱<span class="badge badge-default badge-pill">4</span></a>
                      </li>
                      <li class="list-group-item justify-content-between">
                        <a href="#" class="list-group-item list-group-item-action">5吋寬鐵屌<span class="badge badge-default badge-pill">2</span></a>
                      </li>
                    </ul>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
<%include ./footer.ejs %>
<%include ./bodyend.ejs %>
</body>
</html>